
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'admin-ui.HASH_REF_9fb56ea69f62b00c35eb2343aee071dc.css' %}">
    <meta charset="utf-8">
    <title>Sage Admin UI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script>
      localStorage.setItem('token', "{{ access_token }}")
    </script>
  </head>

  <body>
    <div id="app"></div>
    <script src="{% static 'admin-ui.HASH_REF_274c582549830ad8b5c0f86cca50f6be.js'%}"></script>
  </body>

</html>